<nb-card>
    <nb-card-header>
        <button (click)="btnBackClick()" nbButton size="medium">
            <nb-icon icon="arrow-back-outline"></nb-icon>
        </button>
        <span>Reset hasła</span>
    </nb-card-header>
    <!-- <nb-icon id="back" icon="arrow-back-outline"></nb-icon> -->
    <nb-card-body>
        <p>Podaj adres email na którym konto zostało zarejestrowane. Na tę skrzynkę pocztową zostanie wysłana wiadomość
            z możliwością resetowania hasła</p>
        <form [formGroup]="profileFormF" (ngSubmit)="onSubmitf()">
        <label class="label">Email:</label> <br>
        <input class="break" type="email" formControlName="emailf" nbInput fullWidth status="primary" placeholder="Email">
        <div class="emptyi" *ngIf="profileFormF.get('emailf')?.hasError('required') && showErrorF">Pole musi być wypełnione</div>
        <div class="emptyi" *ngIf="profileFormF.get('emailf')?.hasError('email') && showErrorF">Nieprawidłowy adress email</div>
        <div id="bLogin"><button nbButton status="primary">Wyślij</button></div>
        </form>
    </nb-card-body>
</nb-card>