<nb-card>
    <nb-card-header> Zaloguj się</nb-card-header>
    <nb-card-body>
        <label class="label">Email:</label> <br>
        <input class="break" type="email" nbInput fullWidth status="primary" placeholder="Email">
        <label class="label">Hasło:</label> <br>
        <input type="password" nbInput fullWidth status="primary" placeholder="Hasło">
        <div class="break"><a href="www.google.pl"> Nie pamiętam hasła</a></div>
        <div id="bLogin"><button nbButton status="primary">Zaloguj</button></div>
    </nb-card-body>
</nb-card>