<nb-card>
    <nb-card-header>Kotna Użytkowników</nb-card-header>
    <nb-card-body>



        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Imie</th>
                <th scope="col">Nazwisko</th>
                <th scope="col">Email</th>
                <th scope="col">Stanowsko</th>
                <th scope="col">Typ użytkownika</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Imie</td>
                <td>Nazwisko</td>
                <td>Email</td>
                <td>Stanowsko</td>
                <td>Typ użytkownika</td>
              </tr>
              <tr>
                <th>2</th>
                <td>Imie</td>
                <td>Nazwisko</td>
                <td>Email</td>
                <td>Stanowsko</td>
                <td>Typ użytkownika</td>
              </tr>
              <tr>
                <th>3</th>
                <td>Imie</td>
                <td>Nazwisko</td>
                <td>Email</td>
                <td>Stanowsko</td>
                <td>Typ użytkownika</td>
              </tr>
            </tbody>
          </table>

    </nb-card-body>
</nb-card>