<nb-layout>
    
    <nb-layout-header fixed>
        <div id="menuUpLeft">
            <button id="menuB" nbButton status="basic" (click)="showMenu()" ><nb-icon icon="menu-outline" ></nb-icon></button>
            Menu
        </div>
        <div id="menuUpRight">
            <nb-user size="large" name="John Doe" title="Engineer" color="#cccccc">
            </nb-user>
        </div>
    </nb-layout-header>

    <nb-sidebar tag="navi"></nb-sidebar>
    <nb-layout-column>
        <router-outlet></router-outlet>
    </nb-layout-column>

    <nb-layout-footer>DAW-Systems@2022</nb-layout-footer>
</nb-layout>