<nb-layout>

    <nb-layout-header>
        <div id="menuUpLeft">
            <button id="menuB" nbButton status="basic" (click)="showMenu()">
                <nb-icon id="menuBI" icon="menu-outline"></nb-icon>
            </button>
            Zaproszenia
        </div>
        <div id="menuUpRight">
            <nb-user [size]="size" [name]="getUserName()" [showTitle]="true" [showTitle]="userShowTitle" [title]="getUserEmail()" color="#cccccc" [nbContextMenu]="items">
            </nb-user>
        </div>
    </nb-layout-header>
    
    <nb-sidebar tag="sidebar" [state]="menuShow" [fixed]="menuFixed">
        <app-navigation></app-navigation>
    </nb-sidebar>

    <nb-layout-column>
        <router-outlet></router-outlet>
    </nb-layout-column>

    <nb-layout-footer>Mariusz-Lemanski@2022</nb-layout-footer>
</nb-layout>